<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.present? and @questions.each do |question| %>
      <tr>
        <td><%= link_to question.number, question_q_texts_path(question.number) %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<p>user name=<%= @user.email%> </p>
<p>user email=<%= @user.name%> </p>
<p>
<% if can? :manage, @user %>
Your role is 'admin'.
<% else %>
Your role is 'user'.
<% end %>
</p>

<% if can? :manage, @user %>
<%= link_to 'New Question', new_question_path %>
<% end %>